<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <appSettings>
    <add key="Email" value="abc@gmail.com"/>
    <add key="PinCode" value="100001"/>
    <add key="Phone" value="9999999999"/>
    <add key="MinAgeLimit" value="18"/>
    <add key="FirstName" value=""/>
    <add key="LastName" value=""/>
    <add key="PollingTime" value="10000"/>
    <add key="CoWIN_URL" value="https://cdn-api.co-vin.in/api/v2/appointment/sessions/public/calendarByPin"/>
    <add key="Mail_Subject" value="Vaccine Slots Availability"/>
    <add key="SaveUserDetails" value="1"/>
    <!--<add key="Retry_Count" value="5"/>-->
  </appSettings>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network">
        <network host="smtp.gmail.com" port="587" userName="username" password="password" enableSsl="true" />
      </smtp>
    </mailSettings>
  </system.net>
</configuration>