<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <appSettings>
    <add key="Phone" value="9999999999"/>
    <add key="EmailIDs" value="abc@gmail.com, def@gmail.com"/>
    <add key="FirstName" value=""/>
    <add key="LastName" value=""/>
    <add key="BeneficiaryIDs" value="1234567890123, 9876543210987"/>
    <add key="PinCodes" value="100001, 100002"/>
    <add key="MinAgeLimit" value="18"/>
    <add key="Dose" value="1"/>
    <add key="Vaccine" value="ANY"/>
    <add key="PollingTime" value="5"/>
    <add key="SendEmail" value="1"/>
    <add key="SlotPreference" value="4"/>
    <add key="AutoPickCenter" value="1"/>
    <add key="IncludePaidService" value="0"/>

    <add key="VerifyBeneficiaries" value="1"/>
    <add key="SaveUserDetails" value="1"/>
    <add key="CoWIN_RegistrationURL" value="https://selfregistration.cowin.gov.in/"/>
    <add key="Availablity_MailSubject" value="Vaccine Slots Availability"/>
    <add key="Booking_MailSubject" value="Vaccine Slots Booked"/>

    <!--Co-WIN-->
    <add key="Secret" value="U2FsdGVkX19u9qm/HS5ymrBpr5eLTE9SMKLesulJpepKFv2dCOC2bu9NWuMv7xrg7hQGF+qGXm92PuUFlD7TZQ=="/>
    <add key="Cowin_BaseUrl" value="https://cdn-api.co-vin.in/api/v2"/>
    <!--Public APIs-->
    <add key="CalendarByPinPublic" value="/appointment/sessions/public/calendarByPin"/>
    <add key="CalendarByDistrictPublic" value="/appointment/sessions/public/calendarByDistrict"/>
    <!--Public APIs-->
    <!--Protected APIs-->
    <add key="GenerateOTPUrl" value= "/auth/generateMobileOTP"/>
    <add key="ConfirmOTPUrl" value="/auth/validateMobileOtp"/>
    <add key="GetBeneficiariesUrl" value="/appointment/beneficiaries"/>
    <add key="CalendarByPinUrl" value="/appointment/sessions/calendarByPin"/>
    <add key="CalendarByDistrictUrl" value="/appointment/sessions/public/calendarByDistrict"/>
    <add key="ScheduleAppointmentUrl" value="/appointment/schedule"/>
    <!--Protected APIs-->
    <add key="OtpExpiryTimeLimit" value="180"/>
    <add key="TokenExpiryTimeLimit" value="600"/>
    <!--Co-WIN-->
    <!--<add key="Retry_Count" value="5"/>-->
  </appSettings>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network">
        <network host="smtp.gmail.com" port="587" userName="username" password="password" enableSsl="true" />
      </smtp>
    </mailSettings>
  </system.net>
</configuration>